header {
    font-size: 50px;
    color: White;
    
}


table, th, td {
    border: 2x solid black;
    border-collapse: collapse;

}

td{
    text-align: center;
    width: 150px;
    height: fit-content;

}

html{
    padding-left: cm;
    padding-right: 5cm;
    background-color: black;

}


a {
    text-decoration: none;
    color: azure;
    font-size: 25px;
}