table, th, td {
    border: 2px solid burlywood;
    width: 150px;
    border-collapse: collapse;

}

td{
    text-align: center;
    text-decoration: underline none;


}

html{
    padding-left: 0cm;
    padding-right: 5cm;
    background-color: burlywood;
}


header {
    font-size: 50px;
    color: rgb(219, 13, 61);

}

p {
    font-size: 35px;
    margin-left: 15%;
    margin-top: 10%;
    color: white;

}

a {
    color: black;

}